.projects-section {
  display: flex;
  flex-direction: column;
}

.project-carosuel {
  min-height: 50px;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
}
